footer{
    background-color: #E5FDEF;;
    padding-top: 4rem;
    padding-bottom: 2rem;

}

.footer__title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

footer i {
    font-size: 2rem;
    color: #00775A;;
}

.footer__icons{
    display: flex;
    column-gap: 3rem;
    justify-content: center;

}

footer p {
    margin-top: 2rem ;
}

